.wrapper {
    padding: 10px;
}

.parentClock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: solid 2px rgb(173, 173, 248);
    border-radius: 50%;
    position: relative;
}

.hrs, .min, .sec {
    position: absolute;
    background-color: rgb(63, 62, 62);
    border-radius: 25px;
    top: 50%;
    z-index: 1;
}

.hrs {
    width: 5px;
    height: 70px;
    transform-origin: 2.5px 5px;
}

.min {
    width: 5px;
    height: 80px;
    transform-origin: 2.5px 5px;
}

.sec {
    width: 5px;
    height: 90px;
    transform-origin: 2.5px 5px;
}